<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active">Sign In</h2>
    <div class="fadeIn first">
    </div>
    <form [formGroup]="formLogin" novalidate>
      <input type="text" id="user" class="fadeIn second" [(ngModel)]="model.user" name="user" formControlName="user"
        placeholder="user name" />
      <div *ngIf="formLogin.get('user')?.invalid && (formLogin.get('user')?.dirty || formLogin.get('user')?.touched)">
        <p class="feed-back-error" *ngIf="formLogin.get('user')?.hasError('required')">User bắt buộc nhập</p>
      </div>

      <input type="password" id="password" class="fadeIn third" [(ngModel)]="model.password" name="password"
        formControlName="password" placeholder="password" />
        <div *ngIf="formLogin.get('password')?.invalid && (formLogin.get('password')?.dirty || formLogin.get('password')?.touched)">
          <p class="feed-back-error" *ngIf="formLogin.get('password')?.hasError('required')">Password bắt buộc nhập</p>
        </div>
      <input type="button" class="fadeIn fourth" value="Log In" (click)="clickSubmit()" />
    </form>
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
  </div>
</div>
