.table-information {
  width: 100%;
  height: auto;
  display: flex;
  justify-items: center;
  justify-content: center;
  padding: 20px 0;
}
.form-test {
  width: 100%;
  height: auto;
}
.feed-back-error {
  font-size: 12px;
  color: red;
  text-align: left;
}
.footer-table{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
